:root {
  --color-primary: #a854d8;
  --color-secondary: #5ba6c9;
  --color-primary-dark: #74d69a;
  --color-light: #dfa043;
  --color-dark: #1c3d85;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--color-light);
  font-family: 'Oswald', 'Times New Roman', Times, serif;
}
header {
  position: sticky;
  top: 0;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  background-color: var(--color-dark);
  align-items: center;
  font-size: 1.3em;
}
header h1 {
  color: var(--color-light);
  text-align: center;
}
nav {
  width: 100%;
  grid-column: span 4;
}
nav ul {
  list-style-type: none;
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
}
nav a {
  text-decoration: none;
  color: var(--color-light);
}
main {
  background-color: var(--color-secondary);
}
main h1 {
  text-align: center;
  padding: 20px;
  width: 500px;
  margin: auto;
}
section {
  min-height: calc(100vh - 400px);
  padding-top: 70px;
}
section h2 {
  text-align: center;
  background-color: var(--color-primary);
  color: var(--color-light);
  padding: 10px;
  margin: 20px 0;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  position: relative;
}
.card-container {
  color: var(--color-light);
  padding: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.card {
  background-color: var(--color-primary-dark);
  margin: 20px;
  padding: 20px;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.3);
}

.card p:nth-child(2) {
  padding: 20px;
  opacity: 0;
}
.card p:nth-child(3) {
  padding: 20px;
  position: absolute;
  top: 100%;
  transition: top 0.3s;
}
.card:hover p:nth-child(3) {
  top: 30px;
}
.card h3 {
  padding: 20px;
  text-align: center;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  transition: top 0.3s;
}
.card:hover h3 {
  position: absolute;
  top: -100%;
}

@media screen and (max-width: 1000px) {
  .card-container {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (max-width: 800px) {
  .card-container {
    grid-template-columns: 1fr;
  }
}
